name: Build Release Containers

on:
  push:
    branches:
      - main

env:
  GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN_GITHUB }}

jobs:
  publish-images:
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Authenticate to Google Cloud
        uses: 'google-github-actions/auth@v0'
        with:
          workload_identity_provider: 'projects/77991489452/locations/global/workloadIdentityPools/gh-actions-identity-pool/providers/gh-actions-identity-provider'
          service_account: 'github-actions-service-account@edgebit-containers.iam.gserviceaccount.com'

      - name: Add commit short sha
        run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-7`" >> $GITHUB_ENV

      - name: Configure Docker Auth
        run: |
          gcloud auth configure-docker us-docker.pkg.dev
      - name: Build No-Fly-List
        uses: docker/build-push-action@v3
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          tags: us-docker.pkg.dev/edgebit-containers/containers/no-fly-list:${{ env.SHORT_SHA }},us-docker.pkg.dev/edgebit-containers/containers/no-fly-list:latest

      - name: Install Enclaver
        uses: dsaltares/fetch-gh-release-asset@master
        with:
          repo: edgebitio/enclaver
          version: tags/v0.2.0
          file: 'enclaver-linux-x86_64-v0.2.0.tar.gz'
          target: 'enclaver-linux-x86_64-v0.2.0.tar.gz'
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Authenticate to AWS
        uses: aws-actions/configure-aws-credentials@v1-node16
        with:
          aws-region: us-east-1
          role-to-assume: arn:aws:iam::970625735569:role/GithubActionsKMSPolicyUpdate

      - name: Enclaver Build & Tag
        shell: bash
        run: |
          tar -xzf enclaver-linux-x86_64-v0.2.0.tar.gz
          ./enclaver-linux-x86_64-v0.2.0/enclaver build -f enclaver.yaml
          docker tag no-fly-list:enclave-latest us-docker.pkg.dev/edgebit-containers/containers/no-fly-list:enclave-${{ env.SHORT_SHA }}
          docker tag no-fly-list:enclave-latest us-docker.pkg.dev/edgebit-containers/containers/no-fly-list:enclave-latest
        # docker push us-docker.pkg.dev/edgebit-containers/containers/no-fly-list:enclave-latest
        # docker push us-docker.pkg.dev/edgebit-containers/containers/no-fly-list:enclave-${{ env.SHORT_SHA }}

      - name: Gather PCR values
        run: |
          echo "PCRO=`docker run --entrypoint enclaver-run no-fly-list:enclave-latest describe-eif | tail -n -7 | jq -r '.Measurements.PCR0'`" >> $GITHUB_ENV

      - name: Update key policy with PCR values
        run: |
          aws kms get-key-policy --key-id mrk-39c14bd4d71f40e390fc158fab0697dd --policy-name "default" --output json | jq -r '.Policy' > existing-policy.json
          sed -i 's/SHORT_SHA/$SHORT_SHA/g' pcr-policy-stub.json
          sed -i 's/INSERT_PCR_VALUE/$PCR0/g' pcr-policy-stub.json
          cat existing-policy.json | jq --argjson groupInfo "$(<pcr-policy-stub.json)" '.Statement += [$groupInfo]' > new-policy.json
          cat new-policy.json
      #     aws kms put-key-policy --key-id mrk-39c14bd4d71f40e390fc158fab0697dd --policy-name "default" --policy "$(cat new-policy.json)"
